* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* base size */
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fdf3ea;
  color: #1f2a37;
  width: 100%;
}

.container {
  /* max-width: 1200px; */
  margin: auto;

}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.hero h1 {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.1rem;
  max-width: 480px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.hero input {
  width: 360px;
  padding: 14px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.hero button {
  margin-top: 20px;
  padding: 14px 26px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: #1f2a37;
  color: white;
  cursor: pointer;
}
.hero-image img {
  width: 420px;
  max-width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 18px 60px;
    background: white;
}
.navbar .nav-left img {
  height: 100px;     /* THIS IS CRITICAL */
  width: auto;
}
.navbar .nav-right {
  font-size: 2rem;
  /* list-style: none; */
  gap: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}



